@import "vars";

* {
  box-sizing: border-box;
}

body {
  background-color: $bgc;
  font-family: $ff;
  font-size: $fz;
  line-height: $lh;
}

h1 {
  font-size: $fz_h1;
  line-height: $lh;
  font-weight: $fw_light;
}

img {
  max-width: 100%;
}

.app-container {
  max-width: $maw;
  margin: 0 auto;
  padding: 0 15px;
}

.app-main {
  padding-top: 144px;
}

@media only screen and (max-width: 767px) {
  .app-main {
    padding-top: 110px;
  }
}