$global_ff: (-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif);
$global_fz: 14px;
$global_lh: 1.3em;
$global_bg: #fafafa;
$global_maw: 960px;
$global_bgi-icons: "../../img/icons.png";