$ff: (-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif);

$bgc: #fafafa;
$bgi-icons: "../../img/icons.png";

$fz: 16px;
$fz_h1: 32px;
$lh: 1.3em;

$maw: 960px;

$fw_light: 300;
$fw_semibold: 600;