@import "../../styles/vars";

.user-profile {
  display: flex;
  padding-bottom: 44px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
  margin-bottom: 50px;

  &__avatar {
    width: 30%;
    text-align: center;
    padding-right: 15px;

    img {
      display: inline-block;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
    }
  }

  &__details {
    width: 70%;
  }

  &__row {
    margin-bottom: 20px;
  }

  &__statistic {
    display: flex;
    justify-content: flex-start;
  }

  &__statistic-item {
    margin-right: 40px;
  }

  &__strong {
    font-weight: $fw_semibold;
  }
}

@media only screen and (max-width: 520px) {
  .user-profile {
    padding-bottom: 15px;
    margin-bottom: 25px;

    &__statistic {
      flex-direction: column;
    }
  }
}